<!-- <footer class="py-3 bg-dark" style="background-color: blue !important"> -->
<footer class="py-3 bg-light" style="border-top: 1px solid #e5e5e5 !important">

  <div class="container">
    <div class="row">
      <div class="col-md-12" align="center">
        <ul class="footer-icons" style="vertical-align:middle">
          <li class="footer-icons">
            <a href={{about.github}} target="_blank">
              <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-icons">
            <a href={{about.linkedin}} target="_blank">
              <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-icons">
            <a href={{about.stackoverflow}} target="_blank">
              <i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-icons">
            <a href={{about.googleplus}} target="_blank">
              <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-icons">
            <a href="mailto:{{about.email}}">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>
