{% extends "layout.html" %} {% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('about')}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">About Me</h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12" style="margin-bottom:20px">
      <img class="img-fluid img-circle mb-3 mb-md-0" src="images/me.JPG" style="max-width:250px; border-radius: 10px;" alt="">
    </div>
  </div>
  <!-- ./row -->
  <div class="row">
    <div class="col-md-12">
      <p>{{about.description_1}}</p>
      <p>{{about.description_2}}</p>
      <p>Want to get in touch? <a href="mailto:{{about.email}}" alt="Email me at timhall3000@gmail.com">Email me</a> or reach out using any of the social buttons in the footer. Hope to hear from you soon!</p>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Education & Certifications</h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <div class="education-accordion" style="margin: 0px 0px 24px 0px">
        {% for program in education %}
        <h3>
          <image src="logos/{{program.logo}}" style="max-height:20px; padding-right:2px"></image><span>{%if program.degree != '' %} {{program.degree}}, {{program.school}}</span>
          <span style="float: right">{% endif %}{{program.startyear}}{%if program.endyear != program.startyear %} - {{program.endyear}} {% endif %}</span>
        </h3>
        <!-- <h3><span class="ui-icon ui-icon-newwin"><a href="#"><span class="title">Content</span></span></a></h3> -->

        <div>
          {%if program.classes.length > 0 %}
            <div class="row">
              <div class="col-md-12">
                <h4>Overview</h4>
              </div>
            </div>
          {% endif %}
          <!-- ./row -->
          <div class="row">
            <div class="col-md-12">
              <p>{{program.description}}</p>
            </div>
          </div>
          <!-- ./row -->
          <div class="row">
            <div class="col-md-12">
              <p style="text-align: center">
                {%if program.url != '' %}
                <a style="color:#007bff" href="{{program.url}}" target="_blank">More Info</a> {%if program.cert != '' %} | {% endif %} {% endif %} {%if program.cert != '' %}
                <a style="color:#007bff" href="cert/{{program.cert}}" target="_blank">View Certificate</a> {% endif %}
              </p>
            </div>
          </div>
          <!-- ./row -->
          {%if program.classes.length > 1 %}
            <div class="row">
              <div class="col-md-12">
                <hr />
              </div>
            </div>
            <!-- ./row -->
          {% endif %}

          <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
            {%if program.classes.length > 1 %}
              <h4 class="text-center">Classes</h4>
            {% endif %}
            {% for class in program.classes %}
              <h5>{{class.name}}
                <small class="text-muted">{{class.semester}}</small>
              </h5>
              {% if class.grade != ''%}
                <p><strong>Final Grade:</strong> {{class.grade}}</p>
              {% endif %}
              <p>{{class.description}}</p>
              <hr  />
              {% endfor %}

            </div>
            <div class="col-md-1">

            </div>
          </div>


        </div>
        {% endfor %}
        <!-- ./body of individual accordion cell -->

      </div>
      <!-- ./accordion -->
    </div>
  </div>
  <!-- ./row surrounding accordion -->

</div>
<!-- ./container -->
{% endblock %}
