{% extends "layout.html" %} {% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('about')}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">About Me</h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid img-circle mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
    </div>
  </div>
  <!-- ./row -->
  <div class="row">
    <div class="col-md-12">
      <p>{{about.description}}</p>
      <p>Want to get in touch? <a href="mailto:{{about.email}}" alt="Email me at timhall3000@gmail.com">Email me</a> or reach out using any of the social buttons at the bottom of my site.</p>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Education</h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <div class="education-accordion" style="margin: 0px 0px 24px 0px">
        {% for program in education %}
        <h3>
          <span>{%if program.degree != '' %} {{program.degree}}, {{program.school}}</span>
          <span style="float: right">{% endif %}{{program.startyear}}{%if program.endyear != program.startyear %} - {{program.endyear}} {% endif %}</span>
        </h3>
        <div>
          <div class="row">
            <div class="col-md-12">
              <p style="text-align: right">
                {%if program.url != '' %}
                <a style="color:#007bff" href="{{program.ur}}" target="_blank">Program Info</a> {%if program.cert != '' %} | {% endif %} {% endif %} {%if program.cert != '' %}
                <a style="color:#007bff" href="cert/{{program.cert}}.pdf" target="_blank">View Certificate</a> {% endif %}
              </p>
            </div>
          </div>
          <!-- ./row -->
          <div class="row">
            <div class="col-md-12">
              <p>{{program.description}}</p>
            </div>
          </div>
          <!-- ./row -->
          <div class="row">
            <div class="col-md-12">
              <hr />
            </div>
          </div>
          <!-- ./row -->
          <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
              <!-- {%if program.classes.length > 1 %}
            <h4>Classes</h4>
            {% endif %} -->
              {% for class in program.classes %}
              <h4>{{class.name}} | {{class.semester}}</h4>
              <p>{{class.description}}</p>
              <!-- <hr  /> -->
              {% endfor %}
            </div>
            <div class="col-md-1">

            </div>
          </div>


        </div>
        {% endfor %}
        <!-- ./body of accordion cell -->

      </div>
      <!-- ./accordion -->
    </div>
  </div>
  <!-- ./row surrounding accordion -->

</div>
<!-- ./container -->
{% endblock %}
