{% extends "layout.html" %} {% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('about')}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">About Me</h1>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-12" align="center" style="margin:16px 0px 16px 0px"> -->
    <!-- <div class="col-md-12" style="margin:16px 0px 16px 0px"> -->
    <div class="col-md-12">

      <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: left">{{about.description}}</p>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Education</h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <div class="education-accordion" style="margin: 0px 0px 24px 0px">
        {% for program in education %}
        <h3>
          <span>{{program.school}}</span>
          <span style="float: right">{{program.startyear}}{%if program.endyear != program.startyear %} - {{program.endyear}} {% endif %}</span>
        </h3>
        <div>
          <p style="text-align: center">
            {%if program.degree != '' %} {{program.degree}} {% endif %} {%if program.url != '' %} | <a style="color:#007bff" href="{{program.url}}" target="_blank">Program Info</a> {% endif %} {%if program.cert != '' %} | <a style="color:#007bff" href="cert/{{program.cert}}.pdf"
              target="_blank">View Certificate</a> {% endif %}

          </p>

          <table class="table">

          </table>

          {%if program.classes.length > 1 %}
          <p><strong>Classes: </strong></p>
          {% endif %}
          {% for class in program.classes %}
            </h4>{{class.name}}</h4>
            <ul>
              <li>Semester: {{class.semester}}</li>
              <li>Description: {{class.description}}</li>
            </ul>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Contact</h1>
    </div>
  </div>
  <!-- /.row -->
</div>
{% endblock %}
