{% extends "layout.html" %} {% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('education')}}

<div class="container">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Education
      <small>Secondary Text</small>
    </h1>

      <div class="education-accordion" style="margin: 0px 0px 24px 0px">
        {% for program in education %}
          <h3>{{program.school}}</h3>
          <div>
            <p><strong>Degree: </strong>{{program.degree}}</p>
            <p><strong>Link: </strong><a href="{{program.url}}">{{program.url}}</a></p>
            <p><strong>Classes: </strong></p>
            <ul>
            {% for class in program.classes %}
              <li>{{class.name}}</li>
              <ul>
                <li>Grade: {{class.grade}}</li>
                <li>Semester: {{class.semester}}</li>
                <li>Description: {{class.description}}</li>
              </ul>
            {% endfor %}
            </ul>

          </div>
        {% endfor %}

      </div>
    </div>
  </div>

</div>
{% endblock %}
