{% extends "layout.html" %} {% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('education')}}

<div class="container">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Education
      <small>Secondary Text</small>
    </h1>

      <div class="education-accordion" style="margin: 0px 0px 24px 0px">
        {% for program in education %}
          <h3>{{program.school}} | {{program.startyear}} - {{program.endyear}}</h3>
          <div>
            <p style="text-align: center">
            {%if program.degree != '' %}
              {{program.degree}}
            {% endif %}

            {%if program.url != '' %}
               | <a href="{{program.url}}" target="_blank">Program Info</a>
            {% endif %}

            {%if program.cert != '' %}
               | <a href="{{program.cert}}" target="_blank">View Certificate</a>
            {% endif %}

            </p>

            {%if program.classes.length > 1 %}
              <p><strong>Classes: </strong></p>
            {% endif %}


            {% for class in program.classes %}
            </h4>{{class.name}}</h4>
              <ul>
                <li>Semester: {{class.semester}}</li>
                <li>Description: {{class.description}}</li>
              </ul>
            {% endfor %}
          </div>
        {% endfor %}

      </div>
    </div>
  </div>

</div>
{% endblock %}
