{% extends "layout.html" %} {% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('education')}}

<div class="container">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Education
      <small>Secondary Text</small>
    </h1>

      <div class="education-accordion" style="margin: 0px 0px 24px 0px">
        {% for school in education %}
          <h3>Section 1</h3>
          <div>
            <p>Mauris mauris ante, blandit et, ultrices a, susceros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
