{% extends "layout.html" %}
{% block content %}

  <!-- Creating the navigation with activePage = 'home' -->
  {{nav.active('home')}}

  <div class="container">
    <!-- Page Heading -->
    <h1 class="my-4">Projects
      <!-- <small>Secondary Text</small> -->
    </h1>
    <!-- Project One -->
    <div class="row">
    {% for project in projects %}
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <img class="card-img-top" src="{{project.images.preview.src}}" alt="{{project.images.preview.alt}}" title="{{project.images.preview.alt}}" style="border-bottom: 1px solid #dfdfdf; ">
            <div class="card-body">
              <h4 class="card-title">
                {{project.name}}
              </h4>
              <p class="card-text">{{project.description}}</p>
              <div class="text-center">
                {%if project.github_url != '' %}
                  <a class="btn btn-md btn-outline-secondary" href="{{project.github_url}}" target="_blank" alt="{{project.github_url}}"><i class="fa fa-github"></i> Source</a>
                {% else %}
                  <p><small>Unfortunately, I can't show code for Georgia Tech assignments.</small></p>
                {% endif %}
                {%if project.live_url != '' %}
                  <a class="btn btn-md btn-outline-success" href="{{project.live_url}}" target="_blank" style="display:inline" alt="{{project.live_url}}"><i class="fa fa-laptop"></i> Live</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

    {% endfor %}

  </div>
  <!-- ./row -->
  </div>
  <!-- ./container -->
{% endblock %}
