<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tim Hall</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">
    <link href="css/half-slider.css" rel="stylesheet">

    <!-- Font-awesome -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->

    <link href="css/font-awesome.min.css" rel="stylesheet">


    <style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    </style>


  </head>

  <body>

    <!-- Importing Nunjucks Macro -->
    {% import 'macros/nav-macro.html' as nav %}
    {% import 'macros/project-macro.html' as project %}

    <!-- Page Content -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    {% include "partials/footer.html" %}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
